<div class="markdownx row">
    <div class="col-md-6">
        <p id="markdownHelp">
            YOU CAN ADD PICTURES TO YOUR DESCRIPTION BY DRAGGING AND DROPPING THEM ON EDITING AREA
            How cool is that? (it uses ajax, btw)
            Did you know that project editing supports html style markdown?
            <a href="http://bfy.tw/HLzu">More info about markdown here!</a>
        </p>
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="col-md-6">
        Preview:
        <div class="markdownx-preview"></div>
    </div>
</div>