{% extends 'GitQuid/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}
    <div style="color: #c6c8ca" align="center">
        YOUR DETAILS: <br/>
        USERNAME: {{ user.username }}<br/>
        {% if user.userprofile.picture.url != null %}
            <img src="{{ user.userprofile.picture.url }}" alt="User Profile Picture" width="100px"/><br/>
        {% endif %}
        EMAIL: {{ user.email }}<br/>
        DESCRIPTION: {{ user.userprofile.description }}<br/>
    </div>

{% endblock %}
