{% extends 'GitQuid/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}
        <div style="color: #c6c8ca" align="center">
        {{ accUser.username }}'s DETAILS: <br/>
        USERNAME: {{ accUser.username }}<br/>
        {% if accUser.userprofile.picture.url != null %}
            <img src="{{ accUser.userprofile.picture.url }}" alt="User Profile Picture" width="100px"/><br/>
        {% endif %}
        EMAIL: {{ accUser.email }}<br/>
        DESCRIPTION: {{ accUser.userprofile.description }}<br/>
    </div>
    <div style="color: #c6c8ca">
    {% if accUser.username == curUser.username %}
        <a class="nav-link text-uppercase text-expanded" href="{% url 'GitQuid:editProfile' accUser.userprofile.slug %}">Make Changes</a>
    {% endif %}
    </div>

{% endblock %}
