{% extends 'GitQuid/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Project
{% endblock %}

{% block body_block %}
{#align= is no longer supported in HTML 5. Use css instead#}
    <div style="color: #c6c8ca; text-align:center">
        ADD NEW PROJECT HERE
        <div></div>
        <form id="post_form" method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" placeholder="submit" title="Just Do It" value="SUBMIT" id="position9"/>
        </form>
        {{ form.media }}
    </div>

{% endblock %}
