<!DOCTYPE html>
{% load staticfiles %}
<script src="{% static 'Libraries/jquery/jquery.js' %}"></script>
<script src="{% static 'js/gitquid-jquery.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
        {% endblock %}
    </title>
</head>
<body>

<header>
    <img id="logo" src="{% static 'images/logo.png' %}" alt="GitQuid Logo"/>
    <div id="title">GitQuid</div>
    <form action="{% url 'GitQuid:browse_projects' %}">
                <input type="submit" value="BROWSE PROJECTS" id="position7">
            </form>

    {% block login_block %}

        {% if user.is_authenticated %}
            <div align="center">Hi, {{ user.username }}!</div>
            <form action="{% url 'GitQuid:logout' %}">
                <input type="submit" value="LOGOUT" id="position8">
            </form>
            <form action="{% url 'GitQuid:account' %}" >
                <input type="submit" value="MY ACCOUNT" id="position6">
            </form>

        <form action="{% url 'GitQuid:add_project' %}">
                <input type="submit" value="ADD PROJECT" id="position5">
            </form>
        {% else %}
            <div>
            <form action="{% url 'GitQuid:register' %}">
                <input id="position3" type="submit" value="SIGN UP">
            </form>

                <form id="login_form" method="post" action="{% url 'GitQuid:index' %}">
                    {% csrf_token %}
                    <div id="position">Username</div>
                    <input type="text" name="username" value="" size="50" class="tab"/> <br/>
                    <div id="position2">Password</div>
                    <br/>
                    <input type="password" name="password" value="" size="50" class="tab"/> <br/>
                    <input type="submit" value="Sign In"/>

                </form>
            </div>

        {% endif %}
    {% endblock %}
</header>

{% block body_block %}
{% endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</body>
</html>
