<!DOCTYPE html>
<html lang="en">
{% extends 'GitQuid/base.html' %}
{% load staticfiles %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/index.css" rel="stylesheet">


    <script src="{% static 'Libraries/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/gitquid-jquery.js' %}"></script>
</head>
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Lend A Hand</span>
      <span class="site-heading-lower">GitQuid</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Help Your Community</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
            </li>
            <li class="nav-item px-lg-4">

              <a class="nav-link text-uppercase text-expanded" href="browseProjects.html">Projects</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="register.html">Categories</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/images/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">New Projects</span>
              <span class="section-heading-lower">Every Week</span>
            </h2>
            <p class="mb-3">The world's a hard place. It's good to lend a helping hand every now and then. Want to help out? Need help? Well we'll give you a voice.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Visit Us</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our </span>
                <span class="section-heading-lower">Guarantee</span>
              </h2>
              <p class="mb-0">This platform is devoted to ensuring that budding entrepreneurs always have a rock to build their dreams on, and giving philanthropists a way to help out whenever they can.  </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% block login_block %}

        {% if user.is_authenticated %}
            <div align="center">Hi, {{ user.username }}!</div>
            <form action="{% url 'GitQuid:logout' %}">
                <input type="submit" value="LOGOUT" id="position8">
            </form>
            <form action="{% url 'GitQuid:account' %}">
                <input type="submit" value="MY ACCOUNT" id="position6">
            </form>

            <form action="{% url 'GitQuid:addProject' %}">
                <input type="submit" value="ADD PROJECT" id="position5">
            </form>
        {% else %}
            <div>
                <form action="{% url 'GitQuid:register' %}">
                    <input class="tab" id="signup" type="submit" value="SIGN UP">
                </form>

                <form id="login_form" method="post" action="{% url 'GitQuid:index' %}">
                    {% csrf_token %}
                    <div id="position">Username</div>
                    <input type="text" name="username" value="" size="50" class="tab"/> <br/>
                    <div id="position2">Password</div>
                    <br/>
                    <input type="password" name="password" value="" size="50" class="tab"/> <br/>
                    <input id="signin" type="submit" value="Sign In"/>

                </form>
            </div>

        {% endif %}
    {% endblock %}

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">This website was made by Lab 6 Group C</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

{% endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</html>

